body, html {
    background-image: url('assets/imagem.png');
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Padrão (desktop e telas grandes) */
@media (min-width: 1025px) {
    .header{
        height: 30vh;
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 5%;
        
    }
    .header > .logo{
        height: 100%;
        width: 60%;
        border-radius: 50px;
        margin: 0;
    }
    hr {
        border: .5px solid #000; 
        margin: 2vw 0; 
        width: 60%;
        justify-items: center;
    }
    .card-principal{
        width: 50vw;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch; 
        border: 1px solid black;
        margin-top: 1vh; 
        border-radius: 10px;
        background-color: rgb(243, 243, 243);
        -webkit-box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.75);
        box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.75);
        
    }
    .img_div{
        min-width: 30%;
        min-height: 80%;
        max-width: 50%;
        max-height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        
    }
    .card-principal > .img_div > img{
        max-height: 80%;
        max-width: 60%;
        min-height: 80%;
        min-width: 60%;
        border-radius: 5px;
        display: flex;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .card-principal > hr{
        min-height: 100%;
        width: 0.001%;
    }
    .text-card{
        width: 49%;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 1%;
    }
    .text-card > h3{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
    .div_principal {
        display: flex;
        flex-direction: column; 
        gap: 1vh; 
        height: 100%;
        width: 100%; 
        align-items: center; 
    }
    .info{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        
    }

    .info > p{
        display: flex;
        align-items: flex-start;
        margin-left: 5%;
    }

    .more-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        height: 15%;
    }
    .more-button > button{
        background-color: rgb(3, 228, 22);
        min-width: 50%;
        height: 100%;
        border-radius: 5px;
        margin-bottom: 5%;
        border: none;
        cursor: pointer;
    }
    .back-card{
        background-color: rgba(8, 54, 2, 0.377);
        width: 60vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;
        margin: 0;
    }

    .cards{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .big-card{
        min-width: 60vw;
        max-width: 60vw;
        width: 60vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 1%;
        background-color: rgba(8, 54, 2, 0.507);
    }
    .big-img-div{
        max-height: 40%;
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .big-img-div > img{
        width: 100%;
        height: 100%;
    }
    .big-hr{
        height: 1%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .big-text-card{
        height: 2%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .textPlant{
        height: 20%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }
    .big-hr2{
        height: 1%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .returnButton{
        background-color: transparent;
        max-height: 5%;
        min-height: 5%;
        height: 5%;
        max-width: 5%;
        min-width: 5%;
        width: 5%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border: none;
    }
    .returnButton > img{
        max-height: 100%;
        min-height: 100%;
        height: 100%;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        border: none;
    }

    .big-info{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 5%;
        
    }
}







/* Tablets (601px a 1024px) */
@media (max-width: 1024px) {
    .header{
        height: 30vh;
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 5%;
        
    }
    .header > .logo{
        height: 100%;
        width: 80%;
        border-radius: 50px;
        margin: 0;
    }
    hr {
        border: .5px solid #000; 
        margin: 2vw 0; 
        width: 80%;
        justify-items: center;
    }
    .card-principal{
        width: 70vw;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch; 
        border: 1px solid black;
        margin-top: 1vh; 
        border-radius: 10px;
        background-color: rgb(243, 243, 243);
        -webkit-box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.75);
        box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.75);
        
    }
    .img_div{
        min-width: 50%;
        min-height: 80%;
        max-width: 50%;
        max-height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        
    }
    .card-principal > .img_div > img{
        min-height: 60%;
        min-width: 70%;
        max-height: 60%;
        max-width: 70%;
        border-radius: 5px;
        display: flex;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .card-principal > hr{
        min-height: 100%;
        width: 0.001%;
    }
    .text-card{
        width: 49%;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 1%;
    }
    .text-card > h3{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
    .div_principal {
        display: flex;
        flex-direction: column; 
        gap: 1vh; 
        height: 100%;
        width: 100%; 
        align-items: center; 
    }
    .info{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        
    }


    .info > p{
        display: flex;
        align-items: flex-start;
        margin-left: 5%;
    }

    .more-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        height: 15%;
    }
    .more-button > button{
        background-color: rgb(3, 228, 22);
        min-width: 50%;
        max-width: 50%;
        margin-bottom: 5%;
        height: 100%;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    .back-card{
        background-color: rgba(8, 54, 2, 0.377);
        width: 80vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;
        margin: 0;
    }
   
    .cards{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .big-card{
        min-width: 80vw;
        max-width: 80vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 1%;
        background-color: rgba(8, 54, 2, 0.507);
    }
    .big-img-div{
        max-height: 40%;
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .big-img-div > img{
        width: 100%;
        height: 100%;
    }
    .big-hr{
        height: 1%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .big-text-card{
        height: 2%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .textPlant{
        height: 20%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }
    .big-hr2{
        height: 1%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .returnButton{
        background-color: transparent;
        max-height: 5%;
        min-height: 5%;
        height: 5%;
        max-width: 5%;
        min-height: 5%;
        width: 5%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border: none;
    }
    .returnButton > img{
        max-height: 100%;
        min-height: 100%;
        height: 100%;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        border: none;
    }

    .big-info{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 5%;
        
    }
}





/* Dispositivos móveis (até 600px) */
@media (max-width: 600px) {
    .header{
        height: 30vh;
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 5%;
        
    }
    .header > .logo{
        height: 100%;
        width: 80%;
        border-radius: 50px;
        margin: 0;
    }
    hr {
        border: .5px solid #000; 
        margin: 2vw 0; 
        width: 80%;
        justify-items: center;
    }
    .card-principal{
        width: 80vw;
        min-height: 30%;
        max-height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch; 
        border: 1px solid black;
        margin-top: 1vh; 
        border-radius: 10px;
        background-color: rgb(243, 243, 243);
        -webkit-box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.75);
        box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.75);
        
    }
    .img_div{
        min-width: 50%;
        min-height: 50%;
        max-width: 50%;
        max-height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        
    }
    .card-principal > .img_div > img{
        max-height: 80%;
        max-width: 49%;
        border-radius: 5px;
        display: flex;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .card-principal > hr{
        min-height: 100%;
        width: 0.001%;
    }
    .text-card{
        width: 49%;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 1%;
    }
    .text-card > h3{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
    .div_principal {
        display: flex;
        flex-direction: column; 
        gap: 1vh; 
        height: 100%;
        width: 100%; 
        align-items: center; 
    }
    .info{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        
    }

    .info > p{
        display: flex;
        align-items: flex-start;
        margin-left: 5%;
    }

    .more-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        height: 15%;
    }
    .more-button > button{
        background-color: rgb(3, 228, 22);
        width: 30%;
        height: 100%;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    .back-card{
        background-color: rgba(8, 54, 2, 0.377);
        width: 90vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;
        margin: 0;
    }

    .cards{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .big-card{
        min-width: 80vw;
        max-width: 80vw;
        width: 60vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 1%;
        background-color: rgba(8, 54, 2, 0.507);
    }
    .big-img-div{
        max-height: 40%;
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .big-img-div > img{
        width: 100%;
        height: 100%;
    }
    .big-hr{
        height: 1%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .big-text-card{
        height: 2%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .textPlant{
        height: 20%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }
    .big-hr2{
        height: 1%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .returnButton{
        background-color: transparent;
        max-height: 5%;
        min-height: 5%;
        height: 5%;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        margin-top: .5vh;
        margin-bottom: 1vh;
        border: none;
        display: flex;
        align-items: flex-start;
        margin-left: 2%;

    }
    .returnButton > img{
        max-height: 100%;
        min-height: 100%;
        height: 100%;
        max-width: 5%;
        min-width: 5%;
        width: 5%;
        border: none;
    }

    .big-info{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 5%;
        
    }
}
