/* Padrão (desktop e telas grandes) */
@media (min-width: 1025px) {
    .header {
        height: 30vh;
        margin-top: 5%;
    }
    .card-principal {
        width: 50vw;
    }
}

/* Tablets (601px a 1024px) */
@media (max-width: 1024px) {
    .header {
        height: 25vh;
        margin-top: 3%;
    }
    .header > .logo {
        width: 70%;
    }
    .card-principal {
        width: 80vw;
        height: auto;
        flex-direction: column;
    }
    .card-principal > .img_div {
        max-width: 100%;
    }
    .text-card {
        width: 90%;
    }
}

/* Dispositivos móveis (até 600px) */
@media (max-width: 600px) {
    .header {
        height: 20vh;
        margin-top: 2%;
    }
    .header > .logo {
        width: 80%;
        border-radius: 30px;
    }
    hr {
        width: 80%;
    }
    .card-principal {
        width: 95vw;
        flex-direction: column;
        height: auto;
    }
    .card-principal > .img_div > img {
        max-width: 100%;
    }
    .text-card {
        width: 95%;
        font-size: 0.8em;
    }
    .big-card {
        width: 95vw;
    }
    .returnButton {
        width: 10%;
        height: auto;
    }
}
